<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Row -->
  <div class="container-fluid">
  <div class="row">

    <div class="col-md-6">
      <div class="img-fluid" style="width: 320px; height: 300px; margin: auto;">
       <%= attachment_image_tag @cd.cd_image_id, :cd_image, size: "320x300", format: 'jpg', fallback: "no_image.jpg" %>
   		</div>
   		<div class="text-center">
        <h1 class="my-3"><%= @cd.single_album_name %>
  </h1>
  <p class="my-2">アイアン・メイデン</p>
  <p class="my-2">ジャンル　ヘヴィメタル</p>
  <p class="my-2">レーベル名　東芝EMI</p>
    </div>
</div>
    <div class="col-md-6">
      <h3 class="my-4">収録内容</h3>
      <div class="row">
      	<ul class="col-5" style="list-style-type: none;">
      <li>1. <%= @song.song_title %></li>
      <li>2. <%= @song.song_title %></li>
      <li>3. <%= @song.song_title %></li>
      <li>4. <%= @song.song_title %></li>
      <li>5. <%= @song.song_title %></li>
      <li>6. <%= @song.song_title %></li>
  	</ul>
  <ul class="col-5" style="list-style-type: none;">
      <li>7. <%= @song.song_title %></li>
      <li>8. <%= @song.song_title %></li>
      <li>9. <%= @song.song_title %></li>
      <li>10. <%= @song.song_title %></li>
      <li>11. <%= @song.song_title %></li>
      <li>12. <%= @song.song_title %></li>
  </ul>
  <div class="row">
  	<div class="col-12">
  		<h3 class="mb-3">登録情報</h3>
      <span>発売日（<%= @cd.release %>）</span>
      <span>ディスク枚数：<%= @song.disc_num %>枚</span>
  </div>
</div>
	<div class="row">
  	<div class="mt-4 mr-2 text-right">
          <h3>
            <% if @cd.stock == 0 then %>
            <p>在庫　なし　</p>
          	<% else %>
            <p>在庫　あり　</p>
            <% end %>
          </h3>
          <h3>
          	価格(税込) ¥ <%= (@cd.price * 1.08).round(-1) %>
          </h3>
          <%= form_for @cd do |f| %>
          <h4>
          	<%= f.label :"数量" %>
          <%= f.select :stock, @stock_array%>
          </h4>
          <%= f.submit "カートに入れる", class: "btn btn-primary "%>
          <% end %>
  </div>
</div>

  </div>
</div>
  <!-- /.row -->
