    <div class="card border-dark">
    <h1 class="card-header">CDを登録</h1>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="card card-body">
            <h3>ジャケット画像を登録</h3>
            <%= form_for ([:admins, @cd]) do |f| %>
            <div id="img_field" onClick="$('#file').click()" ></div>
            <%= f.attachment_field :cd_image, class: "image img-fluid", id: "file" %>
            <script>
              $(function(){
                $fileField = $('#file')

                // 選択された画像を取得し表示
                $($fileField).on('change', $fileField, function(e) {
                  file = e.target.files[0]
                  reader = new FileReader(),
                  $preview = $("#img_field");

                  reader.onload = (function(file) {
                    return function(e) {
                      $preview.empty();
                      $preview.append($('<img>').attr({
                        src: e.target.result,
                        width: "50%",
                        class: "preview",
                        title: file.name
                      }));
                    };
                  })(file);
                  reader.readAsDataURL(file);
                });
              });
            </script>
          </div>
        </div>
        <div class="col-sm-6">
          <h2>CD</h2>
          <div class="form-group">
           <%= f.label :single_album_name, "【必須】シングル/アルバム名" %>
           <%= f.text_field :single_album_name, class: "form-control" %>
          </div>
          <div class="form-group">
           <%= f.label :artist_id, "【必須】アーティスト" %>
           <%= f.collection_select :artist_id, Artist.all, :id, :artist_name, {}, {class: "form-control"} %>
          </div>
          <div class="form-group">
           <%= f.label :label_id, "【必須】レーベル" %>
          <div class="col-xs-10">
           <%= f.collection_select :label_id, Label.all, :id, :label, {}, {class: "form-control"} %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
         <%= f.label :genre_id, "【必須】ジャンル" %>
         <%= f.collection_select :genre_id, Genre.all, :id, :genre, {}, {class: "form-control"} %>
        </div>
        <div class="form-group">
         <%= f.label :price, "【必須】価格" %>
         <%= f.text_field :price, class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
         <%= f.label :release, "【必須】発売日" %>
         <%= f.text_field :release, class: "form-control" %>
        </div>
        <div class="form-group">
         <%= f.label :stock, "【必須】在庫" %>
         <%= f.text_field :stock, class: "form-control" %>
        </div>
      </div>
    </div>

    <h1 class="card-header">曲名を登録</h1>
    <div class="card-body">
      <div class="form-group">
        <% 3.times do |times| %>
        <%= f.fields_for :songs do |s| %>
        <div class="row">
          <div class="col-2">
           <%= s.label :disc_num, "ディスクNo." %>
           <%= s.text_field :disc_num, class: "form-control" %>
          </div>
          <div class="col-10">
           <%= s.label :song_title, "曲名" %>
           <%= s.text_field :song_title, class: "form-control" %>
          </div>
        </div>
        <% end %>
        <% end %>
        <%= f.submit '登録' %>
        <% end %>
      </div>
    </div>
  </div>