<div class="container">
	<div class="card">
	  <%= render 'admins/artists/new' %>
	</div>
	<p></p>

	<div class="row">
		<h1 class="col-sm-12">CDを登録</h1>
		<div class="col-sm-4">
			<%= form_for ([:admins, @cd]) do |f| %>
			<%= f.attachment_field :cd_image %>
		</div>
		<div class="col-sm-8">
			<h2>CD</h2>
			 <p>【必須】シングル/アルバム名</p>
			 <%= f.text_field :single_album_name %>
			 <p>【必須】アーティスト</p>
			 <%= f.collection_select :artist_id, Artist.all, :id, :artist_name %>
			 <p>【必須】レーベル名</p>
			 <%= f.collection_select :label_id, Label.all, :id, :label %>
			 <p>【必須】ジャンル</p>
			 <%= f.collection_select :genre_id, Genre.all, :id, :genre %>
			 <p>【必須】価格</p>
			 <%= f.text_field :price %>
			 <p>【必須】発売日</p>
			 <%= f.text_field :release %>
			 <p>【必須】在庫</p>
			 <%= f.text_field :stock %>
			<%= f.submit '登録' %>
			<% end %>
		</div>
	</div>
</div>