

<div class="container">
  <div class ="row">
    <div class="col-8">
    <h2  class="margin_top">ショッピングカート</h2>
      <table class="table">
      <thead>
        <tr>
          <th>商品画像</th>
          <th>商品名</th>
          <th>アーティスト名</th>
          <th>価格(税込)</th>
          <th>数量</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% num = 0 %>
          <% @cds.each do |cd| %>
          <th></th>
          <td><%= cd.single_album_name %></td>
          <td><%= cd.artist_id %></td>
          <td><%= cd.price %>円</td>
          <td><%= cd.stock %>個</td>
          <td><%= link_to "削除", class: "btn btn-danger btn-sm margin_top", method: :delete %></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td>送料：<%= @postage %>円</td>
          <td>小計(税込)：<%= num += cd.price * cd.stock + @postage %>円</td>
          <td></td>
        </tr>
      </tbody>
    </table>
      <%= link_to "カートを空にする", @cart, method: :delete, class: "btn btn-warning", data:{confirm: "本当に空にしますか？"} %>
      <%= link_to "お支払いへ進む", new_receipt_path, class: "btn btn-primary" %>
    </div>
     <% end %>
    <div class ="col-4">
  </div>
 </div>
</div>
