<%= form_for ([:admins, @artist]) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <div class="row">
  	<div class="col-sm-3">
  	 <%= f.label :artist_name, "【必須】アーティスト名" %>
  	</div>
  	<div class="col-sm-8">
  	 <%= f.text_field :artist_name, class: "form-control" %>
  	</div>
  	<div class="col-sm-1">
  	 <%= f.submit '登録', class:"btn btn-success" %>
    </div>
  </div>
<% end %>
