<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">未発送一覧</h1>
</div>


<% @receipts.each do |receipt| %>
<%= receipt.status %>
  <div class="receipt mb-5">
    <div class="table-responsive">
      <table class="table table-striped table-sm user-table">
        <thead>
          <tr>
            <th>注文日</th>
            <th>支払方法</th>
            <th>会員番号</th>
            <th>会員名</th>
            <th>住所</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= receipt.created_at %></td>
            <td><%= receipt.payment %></td>
            <td><%= receipt.user_id %></td>
            <td><%= receipt.shipping_familyname %></td>
            <td><%= receipt.shipping_address %></td>
          </tr>
        </tbody>
      </table>
    </div>


    <h6>購入商品</h6>
    <div class="table-responsive">
      <table class="table table-striped table-sm purchase-table">
        <thead>
          <tr>
            <th>品番</th>
            <th>ジャンル</th>
            <th>アーティスト名</th>
            <th>CD名</th>
            <th>枚数</th>
          </tr>
        </thead>
        <tbody>

          <% receipt.purchases.each do |purchase| %>
            <tr>
              <td><%= purchase.cd_id %></td>
              <td><%= purchase.cd.genre.genre %></td>
              <td><%= purchase.cd.artist.artist_name %></td>
              <td><%= purchase.cd.single_album_name %></td>
              <td><%= purchase.amount %></td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>

    <div class="receipt-status mx-auto" style="width: 218px;" >
      <button type="button" class="btn btn-outline-danger">キャンセル</button>
      <button type="button" class="btn btn-outline-success">　対応済　</button>
    </div>

  </div>

<% end %>
