<div class="container">

<h1>注文内容の確認・変更</h1>

<p>配送先住所</p>

<%= form_for(@receipt) do |f| %>

<label>
  <input type="radio" name="button1" value="1" />登録先住所へ配送する</label>
<label>
  <input type="radio" name="button2" value="2" />新たに配送先を設定する</label>

<ul>

</ul>





<p>支払方法</p>

<label>
  <%= f.radio_button :payment, "1" %>銀行振込</label>
<label>
  <%= f.radio_button :payment, "2" %>クレジットカード</label>
<label>
  <%= f.radio_button :payment, "3" %>代金引換え</label>


<p>配送方法: まとめて配送する</p>




<%= f.submit "購入する" %>

<% end %>

</div>
