<!DOCTYPE html>
<html>
  <head>
    <title>MetalEcサイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <header class="">
<!------ Include the above in your HEAD tag ---------->

<header>
  <!--  Remove dark nav  -->
  <nav class="nav dark-nav">
    <div class="container">
      <div class="nav-heading">
        <button class="toggle-nav" data-toggle="open-navbar1"><i class="fa fa-align-right"></i></button>
        <a class="brand" href="#">メタルECサイト</a>
      </div>
      <div class="menu" id="open-navbar1">
        <ul class="list">
          <li><a href="#">Home</a></li>
          
          <li><a href="http://dev.gilan-co.com/">About us</a></li>
          <li><%= link_to  do %>
            <span>マイページ</span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: "logout" do %>
            <span>ログアウト</span>
          <% end %>
        </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

</header>
    <%= yield %>
<footer>
</footer>
</body>
</html>